accelerate>=1.1.1
av==13.1.0
dashscope
datasets
diffusers==0.31.0
dominate
easydict
einops
fastrtc==0.0.28
flask
flask-socketio
ftfy
git+https://github.com/huggingface/peft.git
git+https://github.com/openai/CLIP.git
gradio_client
hf_xet
huggingface_hub[cli]
imageio
imageio-ffmpeg
lmdb
matplotlib
numpy==1.24.4
nvidia-tensorrt
omegaconf
onnx
onnxconverter_common
onnxruntime
onnxscript
open_clip_torch
opencv-python>=4.9.0.80
pycocotools
pydantic==2.10.6
safetensors
scikit-image
sentencepiece
starlette
tokenizers>=0.20.3
torch>=2.4.0
torchao
torchvision>=0.19.0
tqdm
transformers>=4.49.0
wandb
